/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
// ------------------------------------------------------------------------------------
// | TAB      |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | ESC/CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHIFT    |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ENT  |
//                        | GUI | LWR | SPC |   | SPC | RSE  | ALT |
                        bindings = <
   &kp TAB       &kp Q       &kp W       &kp E      &kp R      &kp T            &kp Y          &kp U      &kp I      &kp O       &kp P          &kp BSPC
   &mt LCTRL ESC &mt LSHFT A &mt LCTRL S &mt LGUI D &mt LALT F &lt 4 G          &kp H          &mt LALT J &mt RGUI K &mt RCTRL L &mt RSHFT SEMI &kp SQT
   &kp LSHFT     &kp Z       &lt 4 X     &kp C      &kp V      &kp B            &kp N          &kp M      &kp COMMA  &kp DOT     &kp FSLH       &mt RSHFT RET
                                         &kp LGUI   &mo 2      &mt RALT SPACE   &mt RALT SPACE &mo 1      &kp LALT
                        >;
                };
                lower_layer {
                        label = "NUMBER";
// ------------------------------------------------------------------------------
// | DEL |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// |     | F1  | F2  | F3  | F4  | F5  |   | F6  |  -  |  =  |  [  |  ]  |  \   |
// |     | F7  | F8  | F9  | F10 | F11 |   | F12 |  `  |     |     |     |      |
//                   |     |     |     |   |     |     |     |
                        bindings = <
   &kp DEL  &kp N1 &kp N2 &kp N3 &kp N4  &kp N5    &kp N6  &kp N7    &kp N8    &kp N9   &kp N0   &kp BSPC
   &trans   &kp F1 &kp F2 &kp F3 &kp F4  &kp F5    &kp F6  &kp MINUS &kp EQUAL &kp RBKT &kp LBRC &kp BSLH
   &trans   &kp F7 &kp F8 &kp F9 &kp F10 &kp F11   &kp F12 &kp GRAVE &trans    &trans   &trans   &trans
                          &trans &trans  &trans    &trans  &mo 3     &trans
                        >;
                };

                raise_layer {
                        label = "SYMBOL";
// -------------------------------------------------------------------------------
// |  DEL |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// |      |  F1 |  F2 |  F3 |  F4 |  F5 |   |  F6 |  _  |  +  |  {  |  }  | "|"  |
// |      |  F7 |  F8 |  F9 | F10 | F11 |   | F12 |  ~  |     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &kp DEL &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &trans  &kp F1   &kp F2 &kp F3   &kp F4   &kp F5      &kp F6    &kp EQUAL &kp PLUS        &kp LBKT &kp RBKT &kp PIPE
   &trans  &kp F7   &kp F8 &kp F9   &kp F10  &kp F11     &kp F12   &kp TILDE &trans          &trans   &trans   &trans
                  	       &trans   &mo 3    &trans      &trans    &trans    &trans
                        >;
                };

                adjust_layer {
                        label = "ADJUST";
// ------------------------------------------------------------------------------------
// | SLEEP | RESET|      |      |      |      |   |     |     |     |     | INS | DEL |
// | BTCLR | BT 0 | BT 1 | BT 2 | BT 3 | BT 4 |   |     |     |     |     |     |     |
// |       |      |      |      |      |      |   |     |     |     |     |     |     |
//                       |      |      |      |   |     |     |     |
                        bindings = <
   &kp K_SLEEP &reset       &trans        &trans        &trans        &trans          &trans &trans &trans &trans &kp INS &kp DEL
   &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans &trans &trans &trans &trans  &trans
   &trans      &trans       &trans        &trans        &trans        &trans          &trans &trans &trans &trans &trans  &trans
                    	                    &trans        &trans        &trans          &trans &trans &trans
                        >;
                };

                nav_layer {
                        label = "NAV";
// -----------------------------------------------------------------------------
// |     |     |     |     |     |     |   |     | PG↑ |  ↑  | PG↓ |     |     |
// |     |     |     |     |     |     |   |     |  ←  |  ↓  |  →  |     |     |
// |     |     |     |     |     |     |   |     |     | HOM | END |     |     |
//                   |     |     |     |   |     |     |     |
                        bindings = <
   &trans &trans &trans &trans &trans &trans   &trans &kp PG_UP &kp UP   &kp PG_DN &trans &trans
   &trans &trans &trans &trans &trans &trans   &trans &kp LEFT  &kp DOWN &kp RIGHT &trans  &trans
   &trans &trans &trans &trans &trans &trans   &trans &trans    &kp HOME &kp END   &trans  &trans
                    	  &trans &trans &trans   &trans &trans    &trans
                        >;
                };
        };
};
